
<launch>
  <arg name="rtabmap_args" default="--delete_db_on_start" />

  <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen">
    <param name="frame_id" value="base_link"/>
    <param name="subscribe_depth" value="false"/>
    <param name="subscribe_rgb" value="true"/>
    <param name="approx_sync" value="true"/>
    <param name="subscribe_scan" value="false"/>
    <rosparam command="load" file="$(find rtabmap_configs)/params_rgbd.yaml"/>
    <remap from="rgb/image" to="/usb_cam/image_raw"/>
    <remap from="rgb/camera_info" to="/usb_cam/camera_info"/>
  </node>
</launch>
